.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.turnDisplay {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}

.sumStone {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: left;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.row {
  display: flex;
  width: 100%;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 3px solid #000;
  }

  .stone {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: aliceblue;
    border-radius: 70px;
  }

  .canSpaceStone {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 70px;
  }
}
